<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RFID System</title>
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/main_page.css">
</head>
<body>
<header>
    <nav style="width: 100%">
        <p style="margin-left: 2.3%"><a href="main_page.html"><span>Главная страница</span></a></p>
        <p><a href="add_user.html"><span>Добавить пользователя</span></a></p>
        <p><a href="readers.html"><span>Считыватели</span></a></p>
        <p><a href="search.html"><span>Поиск</span></a></p>
    </nav>
</header>
<main>
<table>
    <caption>Последняя активность:</caption>
    <thead>
    <td>№ считывателя</td>
    <td>Дата и время</td>
    <td>ФИО</td>
    </thead>
    <tbody>
    <tr>
        <td>2</td>
        <td>11/05/2022 19:08:55</td>
        <td>Воробьев Кирилл Олегович</td>
    </tr>
    <tr>
        <td>2</td>
        <td>11/05/2022 19:08:25</td>
        <td>Воробьев Кирилл Олегович</td>
    </tr>
    </tbody>
</table>
</main>
</body>
</html>