<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>RFID System</title>
    <link rel="stylesheet" type="text/css" href="../styles/index.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/readers.css">
    <script src="../scripts/navigator.js"></script>
</head>
<body>
<header>
    <nav style="width: 100%">
        <p style="margin-left: 2.3%"><a href="main_page.html"><span>Главная страница</span></a></p>
        <p><a href="add_user.html"><span>Добавить пользователя</span></a></p>
        <p><a href="readers.html"><span>Считыватели</span></a></p>
        <p><a href="search.html"><span>Поиск</span></a></p>
    </nav>
</header>
<main>
    <table>
        <caption>Считыватели:</caption>
        <thead>
        <th>№ считывателя</th>
        <th>ID</th>
        <th>Требуемая роль</th>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>1234567890</td>
            <td>Пользователь</td>
        </tr>
        <tr>
            <td>2</td>
            <td>133722869</td>
            <td>Администратор</td>
        </tr>
        </tbody>
    </table>
    <div id="reader_buttons">
        <button id="add_reader" onclick="goTo('add_reader.html')">Добавить считыватель</button>
        <button id="delete_reader" onclick="goTo('delete_reader.html')">Удалить считыватель</button>
    </div>
</main>
</body>
</html>