main {
    display: flex;
}

#left {
    display: inline-block;
    width: 20%;
    text-align: center;
    font-size: 3vmin;
    margin-top: 2vh;
}

#right {
    display: inline-block;
    margin-left: 2%;
    width: 70%;
}

.inputs {
    text-align: right;
    width: 80%;
}

label {
    font-size: 3.3vmin;
}

#right input[type=text] {
    margin-top: 6vh;
    width: 80%;
    height: 7vh;
    font-size: 3vmin;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    transition: 300ms;
}

#right input[type=text]:hover, #right input[type=text]:focus {
    transition: 300ms;
    box-shadow: 0 0 5px 8px whitesmoke;
}

#left select {
    width: 90%;
    height: 10vh;
    font-size: 3vmin;
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    transition: 300ms;
}

button {
    margin-top: 3vh;
    background-color: whitesmoke;
    border-radius: 10px 10px 10px 10px;
    width: 80%;
    height: 8vh;
    font-size: 3vmin;
    border: black solid 1px;
    transition: 300ms;
}

button:hover {
    transition: 300ms;
    box-shadow: 0 0 4px 1px black;
}

button:active {
    transition: 300ms;
    box-shadow: 0 0 5px 3px greenyellow;
}

#add_user_buttons button {
    width: 38.4%;
    margin-top: 5vh;
}

#add_user_button {
    margin-left: 10%;
}