main {
    text-align: center;
}

caption {
    font-size: 4vmin;
    margin-bottom: 2vh;
}

#main_activity_table {
    margin-top: 3vh;
    width: 90%;
    margin-left: 5%;
}

#scroll-table table {
    width: 100%;
    table-layout: fixed;
}

#scroll-table thead th {
    min-width: 33.33%;
    max-width: 33.33%;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    height: 5vh;
    background: whitesmoke;
    font-size: 4vmin;
}

#scroll-table-body tbody td {
    text-align: center;
    height: 5vh;
    font-size: 3vmin;
    vertical-align: center;
    width: 30vw;
}

#scroll-table-body {
    width: 100%;
    height: 60vh;
    overflow-x: auto;
    table-layout: fixed;
    word-wrap: break-word;
}

#scroll-table-body tbody tr:nth-child(even) td {
    background: whitesmoke;
}

#scroll-table-body tbody tr:nth-child(odd) td {
    background: bisque;
}

#scroll-table-body tbody tr:nth-child(even):hover td {
    background: azure;
}

#scroll-table-body tbody tr:nth-child(odd):hover td {
    background: cornsilk;
}

#scroll-table-body tbody tr td:nth-child(3):hover {
    color: deeppink;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}