main {
    display: flex;
}

button {
    width:44%;
    height: 7vh;
    background-color: whitesmoke;
    font-size: 3.8vmin;
    transition: 300ms;
}

button:hover {
    transition: 300ms;
    box-shadow: 0 0 5px 3px whitesmoke;
    transform: scale(1.05);
}

button:active {
    transition: 300ms;
    box-shadow: 0 0 5px 3px greenyellow;
}

#delete_scanner {
    margin-left: 10%;
}

#scanner_buttons {
    margin-top: 2vh;
    width: 70%;
    margin-left: 15%;
}

caption {
    font-size: 4vmin;
    margin-bottom: 2vh;
}

#main_activity_table {
    width: 96%;
    margin-left: 2%;
}

#scroll-table table, #scroll-table-body table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

#scroll-table thead th {
    font-weight: bold;
    border: 1px solid black;
    height: 5vh;
    background: whitesmoke;
    font-size: 4vmin;
}

#scroll-table-body {
    width: 100%;
    height: 44vh;
    overflow-x: auto;
    word-wrap: break-word;
}

#scroll-table-body tbody td {
    height: 5vh;
    font-size: 3vmin;
}

#scroll-table-body tbody tr:nth-child(even) td {
    background: whitesmoke;
}

#scroll-table-body tbody tr:nth-child(odd) td {
    background: bisque;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}