main {
    display: flex;
}

#left {
    display: inline-block;
    width: 30%;
}

#right {
    display: inline-block;
    margin-left: 5%;
    width: 60%;
}

#name {
    margin-top: 5vh;
    margin-left: 15%;
    background-color: whitesmoke;
    width: 80%;
    height: 18vh;
    text-align: center;
    border: black solid 1px;
}

#role, #user_id {
    margin-top: 3vh;
    margin-left: 15%;
    background-color: whitesmoke;
    width: 80%;
    height: 7vh;
    border: black solid 1px;
    text-align: center;
}

#left div.topic {
    background-color: whitesmoke;
    font: 3vmin monospace;
    font-weight: bold;
}

#left div:not(:first-child) > div:first-child {
    margin-top: 3%;
}

#left text.content {
    background-color: whitesmoke;
    font: 3vmin monospace;
    font-weight: initial;
}

button {
    margin-top: 3vh;
    margin-left: 15%;
    background-color: whitesmoke;
    width: 80%;
    height: 9vh;
    font: 3vmin monospace;
    border: black solid 1px;
    transition: 300ms;
}

button:hover {
    transition: 300ms;
    box-shadow: 0 0 5px 3px whitesmoke;
}

button:active {
    transition: 300ms;
    box-shadow: 0 0 5px 3px greenyellow;
}

caption {
    font: 4vmin monospace;
}

#scroll-table table, #scroll-table-body table {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

#scroll-table thead th {
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    height: 5vh;
    background: whitesmoke;
    font: 4vmin monospace;
}

#scroll-table-body {
    width: 100%;
    height: 60vh;
    overflow-x: auto;
    table-layout: fixed;
    word-wrap: break-word;
}

#scroll-table-body tbody td {
    height: 5vh;
    font: 3vmin monospace;
}

#scroll-table-body tbody tr:nth-child(even) td {
    background: whitesmoke;
}

#scroll-table-body tbody tr:nth-child(odd) td {
    background: bisque;
}

/* Стили для скролла */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}